@import "tailwindcss";

@theme {
  --color-primary: oklch(14.48% 0 0);
  --color-base: oklch(97.04% 0.0029 84.56);
  --color-elevated: oklch(98.56% 0.0017 67.8);
  --color-border: oklch(17.76% 0 0 / 7.84%);
  --color-subtle: oklch(14.48% 0 0 / 60%);
  --color-red: oklch(69.18% 0.2062 42.05);
  --color-green: oklch(69.22% 0.1395 160.84);
  --color-violet: oklch(50.12% 0.1775 297.08);

  --font-serif: "EB Garamond", serif;
  --font-sans: "IBM Plex Sans", sans-serif;

  @keyframes loading-dots {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes scale-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0.5rem);
    }
    75% {
      transform: translateX(-0.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}

@layer base {
  ::selection {
    background-color: oklch(90.16% 0.0192 248.04);
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100dvh;
  }
}

@layer components {
  body {
    @apply bg-base text-primary;
  }
}
